{% extends "jinki/base.html" %}
{% load static %}

{% block title %}CPage{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        Lorem ipsum keme keme keme 48 years ma-kyonget matod otoko sangkatuts na ang 
        thunder matod at nang nang biway keme sangkatuts effem mabaho bokot pamentos 
        jowabelles shongaers shonga-shonga at nang waz tanders effem ang makyonget 
        conalei at valaj bella wasok shonga pamentos kasi jowabelles na at na ang 
        buya jutay chopopo jowabella kasi tungril katagalugan nang daki at ang Gino 
        shonga-shonga ng sa klapeypey-klapeypey paminta ano ang jongoloids at nang 
        majonders sa na ugmas cheapangga na pamin at nang majubis thunder ng planggana 
        jupang-pang pinkalou keme Mike mabaho jowabelles shonget ng ano ng 
        fayatollah kumenis boyband matod kasi at oblation at nang shokot shontis 
        chapter chuckie matod thunder nang Cholo.
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img align="left" src="{% static '/images/150.png' %}"" />
      </div>
      <div class="col s3">
        <img align="left" src="{% static '/images/150.png' %}"" />
      </div>
      <div class="col s6">
        shonga-shonga ng sa klapeypey-klapeypey paminta ano ang jongoloids at nang 
        majonders sa na ugmas cheapangga na pamin at nang majubis thunder ng planggana 
        jupang-pang pinkalou keme Mike mabaho jowabelles shonget ng ano ng 
        fayatollah kumenis boyband matod kasi at oblation at nang shokot shontis 
        chapter chuckie matod thunder nang Cholo.
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <video controls width="320px">
          <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
       </video>
      </div>
      <div class="col s6 center-align">
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
        <a href="{% static '/pdf/sample.pdf' %}"><img src="{% static 'images/pdf.png' %}"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align teal" style="height:32px; padding: 4px">
      <a href="/fsuu/Cpage" style="color: white">Cpage.html</a>
    </div>
  </div>
{% endblock %}
